#home{
  .like-button{
    position: relative;
  }

  #like-count {
    position: absolute;
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 11px;
    text-align: center;
    background: cadetblue;
    border-radius: 50%;
  }

}
